html {
    display: unset;
}

body {
    background: url("/img/bg-body.jpg");
    min-width: calc(320em / 18);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
}

.site-header {
    background: url(/img/glass.png);
    /*flex: 1 0 auto;*/
    max-height: 100%;
}

.site-branding__image {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/img/minecraft.gif);
    background-size: cover;
    display: block;
    height: 90px;
    min-width: 140px;
}

.site-branding__title a {
    font-family: Eight-bit, "Lucida Console", "Lucida Sans Typewriter", monospace;
    letter-spacing: 3px;
    margin-left: 12px;
    color: #372822 !important;
}

.site-branding__description {
    font-size: 75%;
    font-family: "Eight-bit", "Lucida Console", "Lucida Sans Typewriter", monospace;
    line-height: 2;
}

.site-header__wrapper {
    float: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    max-width: 70em;
    padding: 1em;
    width: 100%;
}

.site-branding {
    align-items: center;
    display: flex;
    width: 100%;
}

.site-branding__wrapper {
    margin-left: 1em;
    max-width: 70%;
}

.no-underline {
    border: 0;
    text-decoration: none;
}


.no-underline:hover {
    text-decoration: none;
}

.site-nav {
    display: flex;
    margin-top: 1em;
    width: 100%;
    font-family: "Eight-bit", "Lucida Console", "Lucida Sans Typewriter", monospace;
    font-size: 90%;
}

.site-nav a {
    flex: auto;
    text-align: center;
    color: #372822;
}

@media (min-width: 60em) {
    .site-header__wrapper {
        flex-flow: row nowrap;
    }

    .site-branding {
        flex: 3 1 70%;
    }

    .site-nav {
        flex: 1 1 30%;
        margin-top: 0;
    }
}

@font-face {
    font-family: 'Eight-bit';
    src: url("/fonts/eight-bit-dragon.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Magnetic Pro';
    src: url("/fonts/MagneticPro-Black.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Magnetic Pro Light';
    src: url("/fonts/MagneticPro-Light.ttf");
    font-style: normal;
}

a {
    text-decoration: none;
    color: #0a6906;
    transition: all 0.15s linear;
    border-bottom: 1px dashed #0a6906;
}

.content {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    /*background-color: #fafffa;*/
    padding: 1.5em;
    line-height: 1.5;
}

main {
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-family: "Magnetic Pro", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
    max-width: 48em;
    width: 100%;
    flex: 1 0 auto;
}

.post-content {
    font-family: "Magnetic Pro Light", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
}

.post-list:last-of-type {
    margin-bottom: 1em
}

.post-list h3 {
    line-height: 1.2
}

.no-list-style {
    list-style: none
}

.post-meta {
    font-size: 85%;
    color: #62627b;
    font-family: "Magnetic Pro Light", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
}

.post-title {
    margin-bottom: 0.25rem
}

.post-link {
    color: #372822
}

.no-margin {
    margin-bottom: 0
}

.icon > svg {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em
}

.icon > svg path {
    fill: #0a6906
}

.icon--tag, .icon--tags {
    margin-right: 0.25em
}

.icon--title > svg {
    height: 1.25em;
    width: 1.25em;
    display: inline-block;
    vertical-align: middle
}

/* small devices */
@media (min-width: 320px) and (max-width: 960px) {
    :root {
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (960 - 320))) !important;
    }

    .page-header {
        visibility: hidden;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
        /*position: relative;*/
    }
}

@media all and (min-width: 45em) {
    .icon--title > svg {
        height: 1.5em;
        width: 1.5em
    }
}

.icon--title > svg path {
    fill: #2a2a2a
}

.post-content__tag {
    padding: 0.5em 0 0.25em;
    border-bottom: 0;
    text-decoration: underline;
    display: inline-block
}

.post-content__tag:hover {
    border-bottom: 0
}

.post-summary {
    font-family: "Magnetic Pro Light", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
}

.profile-image {
    height: 220px;
    margin-right: auto;
    border-radius: 20px;
    display: block
}

@media all and (min-width: 35.9375em) {
    .profile-image {
        float: right;
        margin-left: 0.5em
    }
}

.page-content p, .page-content li {
    font-family: "Magnetic Pro Light", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
    text-align: justify;
}

hr {
    margin-bottom: 1.5em;
}


.site-footer {
    font-family: "Eight-bit", "Lucida Console", "Lucida Sans Typewriter", monospace;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;

}

.site-footer a {
    color: #4abc41
}

.site-footer a:hover {
    color: #91d78c
}

.site-footer svg path {
    fill: #4abc41
}

.site-footer__wrapper--main {
    background: url("/img/bg-footer-2.jpg")
}

.site-footer__wrapper--secondary {
    background: url("/img/bg-footer.jpg")
}

.footer-main {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    padding: 0.5em
}

@media all and (min-width: 51.25em) {
    .footer-main {
        flex-flow: row nowrap
    }

    .footer-main .footer-main__about {
        flex: 25 0 0
    }

    .footer-main .footer-main__contact {
        flex: 1 0 250px
    }
}

.footer-main p, .footer-main ul {
    font-size: 80%;
    line-height: 2
}

.footer-main input {
    position: absolute;
    opacity: 0
}

.footer-main label {
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    cursor: pointer
}

.footer-main input ~ label div {
    display: none
}

.footer-main input:checked ~ label div {
    display: block;
    position: absolute;
    top: -6.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #353542;
    padding: 0.25em 0.5em;
    border-radius: 4px
}

.footer-main label li {
    width: max-content
}

.footer-main__about, .footer-main__contact {
    margin: 0 1em 1em
}

.footer-main__about p {
    font-family: "Magnetic Pro Light", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
    font-size: 90%;
    line-height: 2;
}

@media all and (min-width: 51.25em) {
    .footer-main__about, .footer-main__contact {
        margin-top: 1em
    }
}

.footer-main__avatar {
    min-width: 200px;
    width: 200px;
    margin: 0.5em 0 40px 1em;
    height: 200px;
}

@media all and (min-width: 51.25em) {
    .footer-main__avatar {
        flex: 1 0 0;
    }
}

.footer-main__contact ul {
    margin: 0
}

.footer-main__contact ul li {
    list-style: none;
    margin: 0
}

.footer-main__link {
    display: flex;
    align-items: center;
    padding: 0.25em
}

.footer-main__link span:first-child {
    margin-right: 0.5em
}

.footer-main__link:hover svg path {
    fill: #91d78c
}

.footer-secondary {
    float: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    max-width: 1140px;
    padding: 1em;
    font-size: 65%
}

@media all and (min-width: 51.25em) {
    .footer-secondary {
        flex-flow: row nowrap
    }

    .footer-secondary .footer-secondary__nav {
        flex: 2 0 28.5714%
    }
}

.footer-secondary .footer-secondary__text {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    line-height: 2
}

@media all and (max-width: 51.1875em) {
    .footer-secondary .footer-secondary__text {
        margin-bottom: 1em
    }
}

@media all and (min-width: 51.25em) {
    .footer-secondary .footer-secondary__text {
        flex: 5 0 71.4285%
    }
}

.footer-secondary__attribute, .footer-secondary__copyright {
    flex: auto;
    text-align: center;
    width: 275px
}

.footer-secondary__nav {
    display: flex;
    width: 100%
}

.footer-secondary__nav a {
    flex: auto;
    text-align: center
}

strong {
    font-size: 110%;
    font-family: "Magnetic Pro", "HeiTi SC Light", "Microsoft YaHei", sans-serif;
}

html, body { height: 100% !important }
