/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    background-color: #FAFFFA;
}

.site-header {
    background: url(/img/bg-header.jpg);
    flex: 1 0 auto;
}

.site-branding__image {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/img/hot-cafe.png);
    background-size: cover;
    display: block;
    height: 90px;
    min-width: 90px;
    width: 90px;
}

.site-branding__title {
    font-family: Eight-bit, "Lucida Console", "Lucida Sans Typewriter", monospace;
    font-size: 34.536px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    color: #372822;
}

.site-branding__description {
    font-size: 75%;
    font-family: "Eight-bit", "Lucida Console", "Lucida Sans Typewriter", monospace;
    line-height: 2;
}

.site-header__wrapper {
    float: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    max-width: 52em;
    padding: 1em;
}

.site-branding {
    align-items: center;
    display: flex;
}

.site-branding__wrapper {
    margin-left: 1em;
}

.no-underline {
    border: 0;
    text-decoration: none;
}


.no-underline:hover {
    text-decoration: none;
}

.site-nav {
    display: flex;
    margin-top: 1em;
    width: 100%;
    font-family: "Eight-bit", "Lucida Console", "Lucida Sans Typewriter", monospace;
    font-size: 90%;
}

.site-nav a {
    flex: auto;
    text-align: center;
    color: #372822;
}

@media (min-width: 60em) {
    .site-header__wrapper .site-nav {
        flex: 1 1 30%;
    }

    .site-nav {
        margin-top: 0;
    }
}


@font-face {
    font-family: 'Eight-bit';
    src: url("/fonts/eight-bit-dragon.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Magnetic Pro';
    src: url("/fonts/MagneticPro-Black.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Magnetic Pro Light';
    src: url("/fonts/MagneticPro-Light.ttf");
    font-style: normal;
}

a {
    text-decoration: none;
    color: #0a6906;
    transition: all 0.15s linear;
    border-bottom: 1px dashed #0a6906;
}

.content {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    background-color: #fafffa;
    padding: 1.5em;
    line-height: 1.5;
}

main {
    float: none;
    margin-left: auto;
    margin-right: auto;
    font-family: "Magnetic Pro","HeiTi SC Light","Microsoft YaHei",sans-serif;
    max-width: 48em;
    width: 100%;
    flex: 1 0 auto;
}

.post-content {
    font-family: "Magnetic Pro Light","HeiTi SC Light","Microsoft YaHei",sans-serif;
}
